html
  height: 100%	
body
  background-image: url(background.png) 
  background-repeat: no-repeat
  background-size: cover
  margin: 0
<<<<<<< HEAD
  @font-face 
    font-family: Narkisim
    src: url(fonts/nrkis.ttf)
  
p
  font-size: 20px
  font-family: Narkisim
=======
img
  border: none
.clr
  clear: both 
.project_wrapper
  width: 901px
  margin: 0 auto
  overflow: hidden
  position: relative

@font-face
  font-family: Narkisim
  srс: url(narkisim.ttf)
  font-weight: 400

p
  font-size: 20px

>>>>>>> 248384ec09386a8aae8fa6230fa0413bdd56bf23
