@import bourbon

.ad-gallery
  margin: 130px 0 0 0
.ad-image-wrapper
  background-image: url(portfolio_border.png)
  background-size: cover
  background-repeat: no-repeat
  background-position: 0px 0px
  position: relative
.ad-thumbs-lib  
  display: none
.screenshot
  display: none
  &.active
    display: block
.art
  display: none
  &.active
    display: block
